/* خلفية متحركة */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.background {
    position: relative;
    width: auto;
    height: 500px;
    background: url('200.gif')  center center ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundAnimation 10s linear infinite;
    border-radius: 18px;
    border: 3px solid black ;
}

/* نص متحرك */
.animated-text {
    font-size: 28px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    position: relative;
    animation: textAnimation 7s ease-in-out infinite;
    -webkit-text-stroke: 1px rgb(38, 38, 38);
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes textAnimation {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
